@{
    ViewData["Title"] = "Home Page";
}

@model List<Domain.Models.Cars.CarModel>;

<div class="text-center">
    <h4 class="display-4">Rent a car</h4>
    <div class="round-shadow">
        <form>
            <input type="text" name="city" id="city" placeholder="Pickup City"/>
            <label>Rent Start</label>
            <input type="date" name="startDate" id="startDate" />
            <label>Rent End</label>
            <input type="date" name="endDate" id="endDate" />
            <input type="checkbox" name="checkAge" id="checkAge" />
            <label for="checkAge">Driver age between 30-65</label>
            <input type="submit" value="Search" />
        </form>
    </div>
    <br />
    <div>
        <div class="card-group">
            @foreach (var car in Model)
            {
                <div class="card card-margin">
                    <div class="card-title">
                        <p>@car.CarBrand @car.CarName</p>
                    </div>
                    <img src="..." alt="@car.CarName" class="card-img-bottom" />
                    <p class="card-text">$200</p>
                    <button id="@car.CarId" class="btn btn-warning">@Html.ActionLink("More!", "CarDetails", "Cars", new { carId = car.CarId })</button>
                </div>
            }
        </div>
    </div>
</div>

<style>
    .card-margin
    {
        margin-left: 5px;
        margin-right: 5px;
    }
    .round-shadow
    {
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 5px;
    }
</style>