@model Domain.Models.Cars.CarModel;

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Model.CarImage" class="img-fluid rounded-start" alt="@Model.CarName">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.CarBrand @Model.CarName</h5>
                <p class="card-text">$200</p>
                <button id="@Model.CarId" class="btn btn-warning">@Html.ActionLink("More!", "CarDetails", "Cars", new { carId = @Model.CarId })</button>
            </div>
        </div>
    </div>
</div>